*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-primary: 'OpenSans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 600;
  --fw-extra: 800;

  --fs-h1: 24px;
  --fs-h2: 20px;
  --fs-nav: 16px;
  --fs-body: 13px;
  --fs-fontawesome: 18px;

  --clr-h1: #262626;
  --clr-body: #686868;
  --clr-button: #5EA0E0;
  --clr-nav: linear-gradient(180deg, #48C6EF 0%, #6F86D6  100%);

  --clr-bg: #EEF3F5;
  --clr-item: #FFF;

  --radius: 5px;
}

body {
  background: var(--clr-bg);
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
}

h1 { 
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-h1);
  line-height: 33px;
}

h2 { 
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  color: var(--clr-body);
  line-height: 27px;
}

/* header and navigation */

/* .scroll-lock {
  overflow-y: hidden;
} when item-more is clicked,
disabled when "nazaj na seznam"
still need the sticky nav*/

header {
  max-width: 1140px;
  min-width: 500px;
  margin: auto;
  padding: 30px 0;
}

.logo {
  display: flex;
  height: 60px;
  width: 139px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  max-width: 100%;
  height: 50px;
  border-radius: var(--radius);
  box-shadow: 0 -3px 0px 0 rgba(171, 229, 255,1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  background: var(--clr-nav); 
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.30);
}

.nav-item {
  display: flex;
  white-space: nowrap;
}

.nav-item a {
  margin: auto;
  padding: 3px 22px;
  border-right: 1px solid rgba(0,0,0,0.14);
}

.nav-item:last-child {
  border: none;
  font-weight: var(--fw-extra);
}

nav a {
  color: var(--clr-item);
  text-decoration: none;
}

.nav-item i {
  font-size: 18px;
  line-height: 18px;
  color: rgba(255,255,255,0.24);
}


/* items main container */

.section-items {
  max-width: 1141px;
  margin:auto;
  padding-bottom: 154px;
}

.items-main-container {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  border-radius: var(--radius);
  background: var(--clr-item);
}

.item-more {
  margin: 30px;
  margin-top: auto;
  padding-top: 15px;
}

.btn {
  display:flex;
  width: fit-content;
  padding: 15px 30px;
  color: var(--clr-button);
  font-weight: var(--fw-bold);
  border: 2px solid var(--clr-button);
  border-radius: var(--radius);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
}

.item-title {
  text-transform: uppercase;
  padding: 19px 30px 0 30px;
}

.item-subtitle {
  padding: 0 30px 20px 30px;
}

p { 
  margin: 0;
  color: var(--clr-body);
  line-height: 18px;
  padding: 0 29px 15px 30px;
}

.btn:hover {
  background: var(--clr-bg);
}

i {
  font-size: 13px;
  margin: auto;
  margin-right: 5px;
}


/* item detail card, modal */
.section-item {
  max-width: 1141px;
  min-width: 500px;
  margin:auto;
}

.item-container {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

/*JS*/
.item-details { 
  display: flex;
  flex-direction: row;
}

.item-picture {
  width: 360px;
  height: 203px;
  border-radius: var(--radius);
}

.content .item-title {
  padding-top: 0;
}

.content .btn {
  margin: 15px 30px;
}

.content .btn:hover {
  background: var(--clr-item);
}


/* modal */
.modal {
  display:none;
  position:fixed;
  z-index:5;
  left: 0px;
  top: 171px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--clr-bg);
}

.modal-content {
  background-color: var(--clr-bg);
  margin: 0 auto;
  animation-name: modalopen;
  animation-duration: 1s;
}

.closeBtn:hover {
  background: var(--clr-item);
}

/* animation */
@keyframes modalopen {
  from{opacity: 0}
  to {opacity: 1}
}

/* mobile */
@media (max-width: 500px) {
  header {
    min-width: 500px;
  }
  
  .nav-item a {
    padding: 3px 16px;
  }

  .items-main-container {
    justify-content: center;
  }
  
  .item-details { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    padding-top:19px;
    width: 360px;
  }
  
}


